.first-container {
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.header-link {
    display: flex;
}
.logo {
    color: white;
    font-weight: bold;
}

.header-link-one {
    margin: 2 2 2 3;
}

.header-link-two {
    margin: auto;
}
.first-body {
    background-color: aqua;
}

.second-container {
    background-color: rgb(1, 255, 56);
}

.third-container {
    background-color: blueviolet;

}

.fourth-container {
    background-color: blue;
}

.fifth-container {
    background-color: rgb(0, 186, 254);
}




.header1-container {
    background-color: blue;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
    flex-direction: ;
}
 
 .item {
    width: 60px;
    height: 60px;
    border: 4px solid rgb(114, 156, 247);
    padding: 16px;
    background: rgb(255, 255, 255);
    border-radius: 1em;
 }

 .second-header {
    display: flex;
    justify-content: center;
 }

 .copyright-container {
    display: flex;
    justify-content: center;
    color: white;
    
 }
